Approval for draft-editorial-rswg-rfc9280-updates-04

We received this request from the RSAB

> draft-editorial-rswg-rfc9280-updates-04 has been approved by the RSAB.
> 
> Because this draft obsoletes RFC 9280, Section 8 of that document states that further approval by the IESG and IAB must be obtained, and that the LLC have no objections regarding its ability to implement any changes, prior to the draft being published and operative.
> 
> The LLC has already stated that they have no objections.
> 
> ACTIONS REQUIRED:
> 
> The IAB and IESG are requested to review and approve draft-editorial-rswg-rfc9280-updates-04.  Should either body reject the draft, we would request that the reasoning be provided to the RSAB and RSWG.


https://www.ietf.org/archive/id/draft-editorial-rswg-rfc9280-updates-04.html

Sent approval to RSAB on 9/19 after a call for no objections from the IAB